In [1]:
import pickle
from os.path import join

In [2]:
basepath = '../../datasets/depmap_analysis/output_data/20Q4v2_D2v6_20210126/'

In [5]:
sd5_uns_file = join(basepath, 'unsigned_expl_5_sd.pkl')
sd5_pb_file = join(basepath, 'pb_expl_5_sd.pkl')

In [6]:
with open(sd5_uns_file, 'rb') as f:
    sd5_uns = pickle.load(f)
with open(sd5_pb_file, 'rb') as f:
    sd5_pb = pickle.load(f)

In [7]:
sd5_pb.corr_stats_axb

{}

In [8]:
sd5_uns.summarize()

total checked:        6436
not in graph:         89
explained:            5527
explained (excl sr):  5469
unexplained:          820
explained set:        0
common parent:        1690
complex or direct:    1589
x intermediate:       5380
shared regulator:     5403
shared target:        5331
sr only:              58

In [9]:
sd5_pb.summarize()

total checked:        5976
not in graph:         109
explained:            2724
explained (excl sr):  2724
unexplained:          3143
explained set:        0
common parent:        1488
complex or direct:    0
x intermediate:       1379
shared regulator:     723
shared target:        775
sr only:              0

In [10]:
sd5_pb.stats_df.head()

,agA,agB,z-score,agA_ns,agA_id,agB_ns,agB_id,not in graph,explained,a-b,b-a,common parent,explained set,a-x-b,b-x-a,shared regulator,shared target
0,ARHGAP35,PTPN14,5.545160,HGNC,4591,HGNC,9647,False,False,False,False,False,False,False,False,False,False
1,ARHGAP35,KIRREL1,5.275428,HGNC,4591,HGNC,15734,False,True,False,False,False,False,True,True,True,False
2,ARHGAP35,NRP1,5.275882,HGNC,4591,HGNC,8004,False,True,False,False,False,False,True,True,True,True
3,ARHGAP35,TAOK1,5.600125,HGNC,4591,HGNC,29259,False,True,False,False,False,False,False,True,False,False
4,RAN,SF3B1,5.152932,HGNC,9846,HGNC,10768,False,True,False,False,False,False,True,True,True,False

In [11]:
pbe = sd5_pb.expl_df
unse = sd5_uns.expl_df

,agA,agB,z-score,expl type,expl data
0,ARHGAP35,KIRREL1,5.275428,a-x-b,"[{'function': 'Protein', 'concept': {'namespac..."
1,KIRREL1,ARHGAP35,5.275428,b-x-a,"[{'function': 'Protein', 'concept': {'namespac..."
2,ARHGAP35,KIRREL1,5.275428,shared regulator,"[{'function': 'Protein', 'concept': {'namespac..."
3,ARHGAP35,KIRREL1,5.275428,a-x-b,"[{'function': 'Protein', 'concept': {'namespac..."
4,ARHGAP35,KIRREL1,5.275428,shared regulator,"[{'function': 'Protein', 'concept': {'namespac..."

In [40]:
f = pbe[(pbe.agA == 'ARHGAP35') & (pbe.agB == 'KIRREL1')].iloc[0]

In [43]:
f['expl data'][0]

In [34]:
unse[(unse.agA == 'ARHGAP35') & (unse.agB == 'KIRREL1')]

,agA,agB,z-score,expl type,expl data
6,ARHGAP35,KIRREL1,5.275428,a-x-b,"[FYN, SRC, PARD6A, GRB2]"
8,ARHGAP35,KIRREL1,5.275428,shared regulator,"[SRC, PARD6A, CSK, FYN, GRB2]"
9,ARHGAP35,KIRREL1,5.275428,shared target,"[FYN, PARD6A, GRB2]"